<article class="prose p-10 flex-grow w-full">
    <h1>Games</h1>
    <p>Have fun!</p>
    <br />
    <a href="/games/wordle">Wordle Word Finder</a>
    <br />
    <a href="/games/madlibs-input">Madlibs</a>
    <br />
    <a href="/games/tictactoe">TicTacToe</a>
</article>