<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avni Garg</title>
    <link rel="stylesheet" href="/styles/style.css" />
</head>

<body class="flex flex-col min-h-screen">
    <%- include('navbar.ejs', {activeTab: 'Home' }) %>

    <article class="prose p-10 flex-grow">
        <p>Hello, I am</p>
        <h1>Avni Garg</h1>
    </article>

    <%- include('footer.ejs') %>

</body>

</html>