<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>

    <link rel="stylesheet" type="text/css" href="/tictactoe.css">

</head>

<body>
    <h1>Tic Tac Toe</h1>

    <div class="svg-wrapper">
        <svg id="gameBoard" viewBox="0 0 90 90" xmlns="http://www.w3.org/2000/svg">
            <g id="boxes">
                <rect id="p0" width="30" height="30" />
                <rect id="p1" width="30" height="30" transform="translate(30, 0)" />
                <rect id="p2" width="30" height="30" transform="translate(60, 0)" />
                <rect id="p3" width="30" height="30" transform="translate(0, 30)" />
                <rect id="p4" width="30" height="30" transform="translate(30, 30)" />
                <rect id="p5" width="30" height="30" transform="translate(60, 30)" />
                <rect id="p6" width="30" height="30" transform="translate(0, 60)" />
                <rect id="p7" width="30" height="30" transform="translate(30, 60)" />
                <rect id="p8" width="30" height="30" transform="translate(60, 60)" />
            </g>
            <g id="pieces"></g>
        </svg>
    </div>

    <div>
        <p id="status">Game Status: New Game, X moves first</p>
    </div>

    <div id="reset">
        <p>Reset</p>
    </div>

    <script src="/tictactoe.js"></script>

</body>

</html>